.about-section {
  padding: clamp(20px, 3.896vw, 30px) 0 clamp(40px, 7.792vw, 60px);

 

  &__box {
    grid-gap: clamp(35px, 7.792vw, 60px);
    display: flex;
    flex-direction: column; 
  }

  &__inner {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(30px, 6.494vw, 50px);
    position: relative;

    &--mode {
      grid-gap: clamp(15px, 3.247vw, 25px);

   
    }

    &--line{
      padding-top: clamp(70px, 15.584vw, 120px);

      &::before{
        position: absolute;
        content: '';
        top: calc((clamp(70px, 15.584vw, 120px) / 2) - (clamp(35px, 7.792vw, 60px) / 2));
        left: 50%;
        transform: translate(-50%, 50%);
        height: 3px;
        width: var(--content-width--mode);
        background-image: var(--line);
        background-position: center;
        background-size: 100% 100%;
        background-repeat: repeat-x;
      }
    }
  }

  &__btns{
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    width: 100%;
    
    p{
      color: rgba(var(--cl-e),1.0);
      text-align: center;
      font-size: clamp(14px, 2.338vw, 18px);
      font-weight: 400;
      line-height: 130.556%;
    }
  }

  &__wrapp{
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    align-items: center;

    &--mode{
      grid-gap: clamp(10px, 2.597vw, 20px);

      .down-button{
        margin-top: -10px;
      }
    }
  }

  &__deskr{
    display: flex;
    flex-direction: column;
    grid-gap: clamp(15px, 3.247vw, 25px);

    &--mode{
      grid-gap: clamp(10px, 1.948vw, 15px);
    }

  }
  &__picture{
    padding-top: clamp(5px, 1.299vw, 10px);
  }

  .check-list {
    align-self: center;
    max-width: 680px;
    grid-gap: clamp(15px, 3.247vw, 25px);

    p {
      font-size: clamp(16px, 2.727vw, 21px);
      line-height: 138.095%;
    }

    svg {
      width: clamp(20px, 4.545vw, 35px);
    }
  }

  .main-deskr {
    grid-gap: 10px;

    p {
      font-size: clamp(16px, 2.727vw, 21px);
      line-height: 138.095%;
      max-width: 700px;

      b{
        text-decoration: none;
      }
    }
  }

  &--mode{
    padding: clamp(20px, 3.896vw, 30px) 0 clamp(60px, 11.688vw, 90px);

    .about-section__inner{
      max-width: var(--content-width);
      margin: 0 auto;
    }

      .main-deskr--mode p{
        max-width: 770px;
      }
    
  }
}

.info-section{
  padding: clamp(40px, 7.792vw, 60px) 0;

  .main-button--transparent{
    align-self: center;
  }
}

.society-section{
  background-color: rgba(var(--bg-g),1.0);
}

.reference-section{
  .about-section__inner{
    padding-top: 15px;
  }
}

.steps-section{
  padding: clamp(40px, 7.792vw, 60px) 0;


  .about-section{

    &__box{
      grid-gap: clamp(30px, 6.494vw, 50px);
    }
     
    &__deskr{
      align-items: center;
      width: 100%;

      .main-deskr{
        width: 100%;
        p{
          max-width: 770px;
        }
      }
    }
    &__inner{
      margin: 0 auto;
      max-width: var(--content-width);
  }
}

}