.form-section {
  background-color: rgba(var(--bg-g),1.0);
  padding-top: clamp(40px, 5.556vw, 65px);
  padding-bottom: 90px;
  background-image: var(--round-bg);
  background-position: 120% 50%;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  background-size: 33vw;

  @include small-tablet {
    background-image: none;
  }

  &::after {
    position: absolute;
    content: '';
    height: clamp(80px, 10.256vw, 120px);
    bottom: 0;
    right: 0;
    left: 0;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: translateY(20%) rotate(1deg);
    background-image: var(--form-section-bottom);

    @include mobile {
      background-size: contain;
    }
    z-index: -1;
  }

  &::before {
    width: 100%;
    top: 0;
    position: absolute;
    height: clamp(80px, 17.094vw, 200px);
    background-image: var(--form-section);
    background-size: 100% 100%;
    background-position: center;
    content: '';
    transform: translateY(-50%);
    z-index: -1;
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: clamp(30px, 3.419vw, 40px) 0;
  }

  &__title {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 600;
    font-size: clamp(22px, 2.735vw, 32px);
    line-height: 120%;
    max-width: 1070px;

    color: rgba(var(--cl-c),1.0);

    .red-text {
      color: rgba(var(--cl-h),1.0);
    }
  }

  &__form {
    max-width: 700px;
  }
}
