.route-section {
  background-color: rgba(var(--bg-h), 1);
  padding: clamp(20px, 3.896vw, 30px) 0 clamp(40px, 7.792vw, 60px);
  position: relative;

  &__wrapper {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(20px, 4.545vw, 35px);
  }

  &__inner {
    margin: 0 auto;
    max-width: var(--content-width);
    display: flex;
    flex-direction: column;
    grid-gap: clamp(30px, 7.792vw, 60px);

    @include small-tablet {
      max-width: 100%;
    }

    &--mode {
      margin: initial;
      max-width: 100%;
      grid-gap: clamp(30px, 6.494vw, 50px);
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(30px, 7.792vw, 60px);
  }

  &__deskr {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(15px, 3.247vw, 25px);

    p {
      i {
        font-style: italic;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(30px, 6.494vw, 50px);
  }

  &__item {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(15px, 3.247vw, 25px);

    .border-text {
      padding: clamp(10px, 1.948vw, 15px) clamp(25px, 7.792vw, 60px);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: clamp(15px, 3.247vw, 25px);
  }

  &__down {
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
    align-items: center;

    &--mode {
      grid-gap: 10px;

      span {
        font-size: clamp(14px, 2.338vw, 18px);
        line-height: 130.556%;

        @include mobile{
          text-align: center;
        }
      }
    }
  }

  &__icon{
    position: absolute;


    &--top{
      top: 0;
      right: 27px; 
      transform: translateX(120%);

      @include tablet{
        display: none;
      }
    }

    &--left{
      top: 0;
      left: 27px; 
      transform: translateX(-100%);

      @include tablet{
        display: none;
      }
    }

    &--thoughts{
      top: 0;
      left: 27px; 
      transform: translateX(-95%);

      @include tablet{
        display: none;
      }
    }

    &--right{
      top: 0;
      right: 0; 
      transform: translateX(75%);

      @include tablet{
        display: none;
      }
    }

    &--mode{
      top: 4%;
      right: 0; 
      transform: translateX(35%);

      @include tablet{
        display: none;
      }
    }
  }

  .main-deskr {
    background-color: rgba(var(--bg-a), 1);
    width: 100%;

    * {
      max-width: 770px;
      font-size: clamp(16px, 1.795vw, 21px);
      line-height: 138.095%;
      text-decoration: none;
    }
  }

  .check-list {
    max-width: 680px;
    align-self: center;
    grid-gap: clamp(15px, 3.247vw, 25px);

    svg {
      width: clamp(20px, 4.545vw, 35px);
    }
  }


  &--second{

    .main-subtitle{
      font-style: italic;
      background-color: rgba(var(--bg-a),1.0);
    }

    .main-deskr {
      background: rgba(var(--bg-g), 1);
      .underline-text {
        text-decoration: underline;
      }

      b{
        font-style: normal;
      }
    }

    &::before, &::after{
      position: absolute;
      content: '';
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 0;
  
      @include small-tablet{
        display: none;
      }
    }

    &::before{
      background-image: var(--route-icon);
      background-position: top left;
      width: Min(31.21vw, 387px);
      height: Min(37.097vw, 460px);
      left: 0;
      top: 0;
    }

    &::after{
      background-image: var(--route-icon-second);
      background-position: top right;
      width:  Min(30.968vw, 384px);
      height: Min(32.984vw, 409px);
      right: 0;
      bottom: 0;
    }
  }

  &--road{
  

    .main-deskr{
      flex-direction: row;
      align-items: flex-start;
      grid-gap: clamp(10px, 2.597vw, 20px);
  
      svg{
          flex-shrink: 0;
      }
  
      *{
          text-align: start;
          font-size: clamp(15px, 2.468vw, 19px);
          line-height: 152.632%;
      }
    }
}

  &--invite{
    padding: clamp(20px, 3.896vw, 30px) 0;
      .main-pretitle{
        font-size:  clamp(20px, 3.896vw, 30px);
        line-height: 125%;
      }
    &::before{
      position: absolute;
      content: '';
      left: 0;
      bottom: 0;
      background-image: var(--invite-icon);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top left;
      width: Min(33.871vw, 420px);
      height: Min(36.452vw, 452px);
      z-index: 0;

      @include mobile{
        display: none;
      }
    }

    .invite-text{
      text-align: center;
    }
  }

  &--strategy{
    .route-section {
      &__box {
        grid-gap: 25px;
      }
  
      &__wrapper {
        grid-gap: clamp(30px, 6.494vw, 50px);
  
        &--mode {
          grid-gap: clamp(25px, 5.195vw, 40px);
          .check-list {
            max-width: 100%;
          }
        }
      }
    }
  
    .main-deskr {
      margin-bottom: calc(clamp(30px, 7.792vw, 60px) - 25px);
      * {
        max-width: 910px;
      }
    }

    &::before{
      position: absolute;
      content: '';
      background-image: var(--strategy-icon);
      background-position: top left;
      background-size: contain;
      background-repeat: no-repeat;
      width: Min(31.371vw, 389px);
      height: Min(31.371vw, 389px);
      z-index: 0;
      left: 0;
      bottom: 0;

  
      @include small-tablet{
        display: none;
      }
    }
  }

  &--thoughts{
    &::before{
      position: absolute;
      content: '';
      background-image: var(--route-icon-mode);
      background-position: top left;
      background-size: contain;
      background-repeat: no-repeat;
      width: Min(31.371vw, 389px);
      height: Min(30.806vw, 382px);
      z-index: 0;
      left: 0;
      bottom: 0;

  
      @include small-tablet{
        display: none;
      }
    }
  }

  &--intro{
    &::before{
      position: absolute;
      content: '';
      background-image: var(--intro-icon);
      background-position: top left;
      background-size: contain;
      background-repeat: no-repeat;
      width: Min(31.371vw, 389px);
      height: Min(30.242vw, 375px);
      z-index: 0;
      left: 0;
      bottom: 0;

  
      @include small-tablet{
        display: none;
      }
    }
  }

  
  &--story{
    &::before{
      position: absolute;
      content: '';
      background-image: var(--story-icon);
      background-position: top left;
      background-size: contain;
      background-repeat: no-repeat;
      width: Min(31.371vw, 389px);
      height: Min(31.694vw, 393px);
      z-index: 0;
      left: 0;
      bottom: 0;

  
      @include small-tablet{
        display: none;
      }
    }
  }
}
