.second-secton {
  padding-top: clamp(20px, 5.128vw, 60px);
  position: relative;
  z-index: 2;

  &:before {
    position: absolute;
    content: '';
    width: Min(31.25vw, 600px);
    height: Min(31.25vw, 600px);
    background-image: url(../img/fag/left-frame.svg);
    background-size: 100% 100%;
    background-position: left center;
    background-repeat: no-repeat;
    transform: rotate(-70deg);
    z-index: -1;
    top: -5%;
    left: -20%;

    @include tablet {
      content: none;
    }
  }

  &::after {
    position: absolute;
    content: '';
    width: Min(31.25vw, 600px);
    height: Min(31.25vw, 600px);
    background-image: url(../img/fag/left-frame.svg);
    background-size: 100% 100%;
    background-position: left center;
    background-repeat: no-repeat;
    transform: rotate(-110deg) scaleY(-1);
    z-index: -1;
    bottom: -20%;
    right: -10%;

    @include mobile {
      bottom: initial;
      top: 20%;
      right: -15%;
      transform: rotate(-186deg) scaleY(1);
    }
  }


  &__box {
    position: relative;
    z-index: 3;
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-items: center;
    gap: clamp(40px, 5.983vw, 70px) 0;

    @include ios {
      width: calc(100% + 20px);
      grid-template-columns: repeat(2, 1fr);
      margin: 0 -10px;
    }

    p {
      max-width: Min(48.718vw, 570px);
      font-family: var(--font-family);
      font-style: normal;
      font-weight: 500;
      font-size: clamp(20px, 2.735vw, 32px);
      line-height: 120%;
      text-align: center;
      color: rgba(var(--cl-c),1.0);

      .brush {
        padding: 5px;
        background-image: var(--brush-dark);
        font-weight: 600;
      }
    }
  }

  &__image {
    display: flex;
    width: clamp(180px, 35.385vw, 414px);
    position: relative;
    z-index: 2;

    @include ios {
      width: 100%;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__title {
    grid-column: 1/-1;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: clamp(18px, 1.51vw, 29px);
    line-height: 125%;
    text-align: center;
    color:  rgba(var(--cl-e),1.0);

    i {
      text-decoration: underline;
      font-weight: 600;
    }

    @include mobile {
      // max-width: 394px;
      br {
        display: none;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: clamp(35px, 6.838vw, 80px);

    position: relative;

    &::before {
      width: Min(25.641vw, 300px);
      height: Min(18.974vw, 222px);
      position: absolute;
      content: '';
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      left: 0;
      transform: translateX(-57%) translateY(-86%);
      top: 0%;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='230' height='222' fill='none'%3E%3Cg fill='%23FBE06A' fill-rule='evenodd' clip-path='url(%23a)' clip-rule='evenodd'%3E%3Cpath d='M33 80.6a87 87 0 0 1 52.8 3.6 196 196 0 0 1 70.6 45.8c11 11.1 14.8 21.7 23.2 34.6.3.5 1 .7 1.5.4.5-.2.7-.9.3-1.4-8.4-13-12.3-23.7-23.4-35a198.7 198.7 0 0 0-71.7-46.4 89.5 89.5 0 0 0-54.2-3.6 1 1 0 0 0-.6 1.3c.2.5.9.8 1.4.7Z'/%3E%3Cpath d='m183.8 166.1-.4-.6a47 47 0 0 1-2.1-5.8c-2.7-8.8-6-24-2.2-33 .3-.5 0-1.1-.6-1.4-.6-.2-1.2 0-1.5.5-3.9 9.4-.7 25.2 2.1 34.3a73 73 0 0 0 1.1 3.3l-7.5-6.3a67.2 67.2 0 0 0-23.5-13.2c-.6-.2-1.2.1-1.4.6-.1.6.3 1.2.9 1.4a64.8 64.8 0 0 1 22.6 12.7 275 275 0 0 0 11.2 9.1c.8.5 1.3 0 1.4 0 0-.1.7-.8-.1-1.6Zm-1.6 1.3Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 136.8 74.5 0l155.2 84.5-74.5 136.8z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");

      @include mobile {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='107' height='101' fill='none'%3E%3Cg fill='%23006FBB' fill-rule='evenodd' clip-path='url(%23a)' clip-rule='evenodd'%3E%3Cpath d='M12.5 40.6a41.7 41.7 0 0 1 25.3-1.2A93.7 93.7 0 0 1 74 57.2c5.9 4.7 8.3 9.6 13 15.2.1.2.5.3.7.1.3-.1.3-.4.1-.7-4.7-5.7-7.2-10.5-13-15.3A95 95 0 0 0 38 38.4c-9-2-18.2-2-26 1.3-.2 0-.3.4-.2.6.1.3.5.4.7.3Z'/%3E%3Cpath d='m89 72.9-.2-.3c-.4-.5-.8-1.4-1.4-2.6-1.8-4-4.1-11-2.8-15.6 0-.2-.1-.5-.4-.6-.3 0-.6 0-.7.3-1.3 4.7 1 12 3 16.2l.6 1.5-3.9-2.6c-3.7-2.5-7.5-4-12-5-.2 0-.5.2-.5.4 0 .3.1.6.4.6A31 31 0 0 1 82.6 70a132 132 0 0 0 5.8 3.7c.4.2.7 0 .7-.1 0 0 .3-.4-.1-.7Zm-.7.7Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 69.1 27.9.1l78.3 31.5-27.8 69.1z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      }
    }

    &::after {
      width: clamp(35px, 6.838vw, 80px);
      height: clamp(35px, 6.838vw, 80px);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='86' height='86' fill='none'%3E%3Cg fill='%23FBE06A' fill-rule='evenodd' clip-path='url(%23a)' clip-rule='evenodd'%3E%3Cpath d='M51 3.4C63.5 29.7 49.6 55.7 29 73.3a.8.8 0 0 0 1 1.3c21.4-18.1 35.4-44.9 22.7-72a.8.8 0 1 0-1.6.8Z'/%3E%3Cpath d='m29.8 73.6 1.3-3.3a55 55 0 0 0 3-16.7.8.8 0 0 0-1.7 0 53.3 53.3 0 0 1-3 16.1c0 .3-1.5 4.2-1.8 5v.7c0 .2.2.4.4.5.1 0 .5.2.9 0 .4 0 1.2-.6 1.4-.7 3.3-1.5 6.7-3.5 10.3-4.6 3.5-1.2 7-1.5 10.5 0a.8.8 0 0 0 .7-1.5A15.5 15.5 0 0 0 40 69c-3.6 1.1-7 3-10.3 4.6Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 34 51 0l34 51-51.1 34z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, -100%);

      @include mobile {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='61' height='61' fill='none'%3E%3Cg fill='%23006FBB' fill-rule='evenodd' clip-path='url(%23a)' clip-rule='evenodd'%3E%3Cpath d='M35.6 2.2c-15.5 13.6-14 34.4-5.5 51.7a.6.6 0 0 1-1 .5c-8.8-17.8-10.3-39.1 5.7-53.1a.6.6 0 1 1 .8 1Z'/%3E%3Cpath d='m29.4 53.8.2-2.5a39 39 0 0 1 2.7-11.7.6.6 0 0 1 1.1.5 37.8 37.8 0 0 0-2.6 11.3l-.3 3.8-.1.4-.4.2c-.1 0-.4 0-.6-.2l-.7-.8c-1.7-2-3.4-4.2-5.4-6-2-1.7-4.1-3-6.8-3a.6.6 0 0 1 0-1.1c3 0 5.5 1.3 7.6 3.2 2 1.8 3.7 4 5.3 6Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M60 36.5 36.6 0 .1 23.6 23.6 60z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        left: 10%;
        bottom: 0;
        height: 45px;
        transform: translate(-50%, -110%);
      }
    }
  }
}
