.webinar-section {
  padding: clamp(60px, 12.821vw, 150px) 0;
  background-image: url(../img/webinar.png);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;


  &::before,
  &::after {
    width: Min(51.282vw,600px);
    height: Min(51.282vw,600px);
    position: absolute;
    content: '';
    background-image: var(--round-bg);
    background-size: 100% 100%;

    @include mobile {
      content: none;
    }
  }

  &::before {
    left: 0;
    top: 0;
    transform: translate(-70%, 20%);
  }

  &::after {
    right: 0;
    bottom: 0;
    transform: translate(70%, -20%);
  }

  .check-list__item {
    font-weight: 400;
    font-size: clamp(16px, 1.795vw, 21px);
    line-height: 120%;
    color: rgba(var(--cl-c),1.0);

    svg {
      width: clamp(30px, 4.274vw, 50px);
      flex-shrink: 0;
    }

    b {
      font-weight: 600;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(30px, 5.128vw, 60px);
    align-items: center;
    max-width: Min(70.94vw,830px);
    margin: 0 auto;

    @include small-tablet {
      max-width: 90%;
    }

    @include mobile {
      max-width: 100%;
    }
  }

  &__inner {
    border-radius: 25px;
    background-color: rgba(var(--bg-a),.94);
    max-width: 830px;
    padding: 30px clamp(20px, 3.419vw, 40px);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(25px, 3.846vw, 45px);
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 20px;
  }

  &__title {
    font-family: var(--font-family2);
    font-style: normal;
    font-weight: 800;
    font-size: clamp(30px, 3.846vw, 45px);
    line-height: 116%;
    color:  rgba(var(--cl-c),1.0);
    text-align: center;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0 clamp(15px, 2.564vw, 30px);
    width: fit-content;
    padding: 13px clamp(13px, 5.128vw, 60px);
    position: relative;
    background-image: var(--brush-dark);
    background-size: 100% 100%;
    background-repeat: repeat-x;
    background-position: center;

    svg {
      width: clamp(30px, 3.419vw, 40px);
      height: auto;
      flex-shrink: 0;
    }

    &-item {
      display: flex;
      align-items: center;

      font-family: var(--font-family);
      font-style: normal;
      font-weight: 700;
      font-size: clamp(19px, 2.393vw, 28px);
      line-height: 100%;
      color: rgba(var(--cl-c),1.0);
      gap: 10px;
    }


  }

}
