.answer-list{
    display: flex;
    flex-direction: column;


    &__item{
        display: flex;
        align-items: center;
        grid-gap: clamp(10px, 1.948vw, 15px);

        &:nth-child(odd){
            flex-direction: row-reverse;
        }

        &:nth-child(even){
            .answer-list__question{
                background-color: rgba(var(--bg-a),1.0);
                color: rgba(var(--cl-d),1.0);
               
            &::before{
                background-image: var(--user-icon-mode);
                bottom: -17%;
                left: -3%;
                transform: none;
            }
        }
        }
    }

    &__image{
        width: clamp(100px, 18.831vw, 145px);
        height: clamp(100px, 18.831vw, 145px);
    }

    &__question{
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.12);
        color: rgba(var(--cl-a),1.0);
        font-family: var(--font-family);
        background-color: rgba(var(--bg-d),1.0);
        font-size: clamp(16px, 1.795vw, 21px);
        font-style: italic;
        font-weight: 400;
        line-height: 138.095%;
        padding: 10px clamp(15px, 5.195vw, 40px) 10px clamp(15px, 2.597vw, 20px);
        border-radius: 15px ;
        position: relative;
        text-align: center;
        
      &::before{
        position: absolute;
        content: '';
        background-image: var(--user-icon);
        bottom: -17%;
        right: -3%;
        width: 20px;
        transform: scaleX(-1);
        height: 30px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
   
      }

    }


    &__title{
        color: rgba(var(--cl-c),1.0);
        font-family: var(--font-family);
        font-size:  clamp(18px, 2.987vw, 23px);
        font-style: normal;
        font-weight: 700;
        line-height: 126.087%;
    }
}

.dialogue-list{
    grid-gap: clamp(20px, 4.545vw, 35px);

    .answer-list{

        &__item{
            align-items: flex-end;
        &:nth-child(odd){
            flex-direction: row;
        }
        &:nth-child(even){
            flex-direction: row-reverse;
            .answer-list__question{
                border-radius: 25px 25px 0px 25px;
                text-align: end;
                align-items: flex-end;
            }
        }
    }

    &__question{
        box-shadow: none;
        border-radius: 25px 25px 25px 0px;
        padding: clamp(10px, 2.597vw, 20px) clamp(15px, 3.896vw, 30px) clamp(15px, 3.896vw, 30px);
        background-color: rgba(var(--bg-a),1.0);
        color: rgba(var(--cl-d),1.0);
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        grid-gap: clamp(5px, 1.299vw, 10px);
        text-align: start;

        &::before{
            display: none;
        }

        @include mobile{
            br{
                display: none;
            }
        }
    }
    }
}