.images-list{
    display: flex;
    align-items: center;
    grid-gap: 20px clamp(15px, 2.597vw, 20px);
    max-width: 770px;

    @include ios{
        flex-direction: column;
    }


    &--mode{
        justify-content: space-between;
    }
}