h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
span {
  margin: 0;
  padding: 0;

  .blue-text {
    color: rgba(var(--cl-c),1.0);
    display: inline;
    width: 100%;

    &--mode{
      text-decoration: underline;
      text-underline-offset: 6px;
      position: relative;
    }

    &--italic{
      font-style: italic;
    }

    &--light{
      color: rgba(var(--cl-h),1.0);
    }
  }

  .red-text {
    color: rgba(var(--cl-e),1.0);
    display: inline;
    width: 100%;
  }

  .purple-text {
    color: rgba(var(--cl-f),1.0);
    display: inline;
    width: 100%;
  }

  .green-text {
    color:  rgba(var(--cl-g),1.0);
    display: inline;
    width: 100%;
  }
}

.mode-text{
  max-width: 100% !important;
  position: relative;
  padding-left: 12px;

  &::before{
    position: absolute;
    content: '';
    height: 100%;
    width: 3px;
    background-color: rgba(var(--bg-e),1.0);
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  &--answer{
    padding-left: 37px;
    font-style: italic;
  }

  @include small-tablet{
    br{
      display: none;
    }
  }
}

.down-button{
  display: flex;
  width: fit-content;
  align-self: center;
  svg{
    fill: rgba(var(--bg-e),1.0);
    transition: all .4s;
    width: clamp(60px, 12.987vw, 100px);
    height: clamp(60px, 12.987vw, 100px);
  }

  &--yellow{
    svg{
      fill: rgba(var(--bg-g),1.0);
    }
  }

  &--orange{
    svg{
      fill: rgba(var(--bg-m),1.0);
    }
  }

  &--white{
    svg{
      fill: rgba(var(--bg-a),1.0);
    }
  }

  &--blue{
    svg{
      fill: rgba(var(--bg-h),1.0);
    }
  }
}

.mode-deskr{
  display: flex;
  flex-direction: column;
  grid-gap: clamp(10px, 2.597vw, 20px);
}

p{
      font-family: var(--font-family);
      font-size: clamp(16px, 2.727vw, 21px);
      font-style: normal;
      font-weight: 400;
      line-height: 138.095%;
      color: rgba(var(--cl-d),1.0);

      b{
        font-weight: 700;
    }
}

.main-pretitle{
  color: rgba(var(--cl-d),1.0);
  font-family: var(--font-family);
  font-size: clamp(18px, 3.117vw, 24px);
  font-style: normal;
  font-weight: 700;
  line-height: 123.833%;
  text-decoration-line: underline;
  text-underline-offset: 6px;

  &--mode{
    text-decoration: none;

  }
}

.border-text{
  display: flex;
  padding: clamp(10px, 1.948vw, 15px) clamp(15px, 3.247vw, 25px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  border: 1.5px solid var(--br-b);
  line-height: 130.556%;
  font-size: clamp(14px, 2.338vw, 18px);

  i.blue-text{
    font-size: clamp(15px, 2.468vw, 19px);
    font-style: italic;
    line-height: 127.9%;
  }
}

.underline-text{
  text-decoration: underline;
  text-underline-offset: 6px;
  color: currentColor;

  &--italic{
    font-style: italic;
  }
}

.text-answer{
  display: flex;
  align-items: center;
  grid-gap: clamp(8px, 1.558vw, 12px);
}

.count-text{
  display: flex;
  align-items: center;
  grid-gap: clamp(15px, 3.247vw, 25px);
  font-size: clamp(18px, 2.987vw, 23px);
  font-style: normal;
  font-weight: 500;
  line-height: 126.087%;

  > b{
    color: rgba(var(--cl-c),1.0);
    font-family: var(--font-family2);
    font-size: clamp(26px, 5.195vw, 40px);
    font-style: normal;
    font-weight: 900;
    line-height: 125%;
  }

  i.blue-text{
    font-size: clamp(16px, 2.727vw, 21px);
    line-height: 138.095%;
    font-weight: 400;
  }
}

  .main-title{
    color: rgba(var(--cl-c),1.0);
    font-family: var(--font-family2);
    text-align: center;
    font-size: clamp(22px, 3.896vw, 30px);
    font-style: normal;
    font-weight: 900;
    line-height: 125%;
    text-decoration-line: underline;
    text-underline-offset: 6px;
    text-transform: uppercase;
  }

  .main-subtitle{
    padding: clamp(15px, 2.137vw, 25px) clamp(15px, 2.564vw, 30px);
    border-radius: 28px;
    background:  rgba(var(--bg-g),1.0);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &--mode{
      display: inline;
    }
  }

  .pretitle-top{
    border-radius: 25px;
    background: rgba(var(--bg-h),1.0);
    padding: clamp(15px, 2.597vw, 20px);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: clamp(7px, 1.299vw, 10px);
    color: rgba(var(--cl-c),1.0);
    font-family: var(--font-family);
    font-size: clamp(18px, 3.117vw, 24px);
    font-style: normal;
    font-weight: 700;
    line-height: 120.833%;
    > *{
      display: flex;
      align-items: center;
    }
    svg{
      fill: currentColor;
    }
  }

  .main-button{ 
    color: rgba(var(--cl-a),1.0);
    text-align: center;
    font-family: var(--font-family);
    font-size: clamp(16px, 3.636vw, 28px);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 55px;
    background: rgba(var(--bg-k),1.0);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: clamp(17px, 3.247vw, 25px);
    transition: all .4s;
    border: solid 2px transparent;

    &:hover{
      background-color: rgba(var(--bg-l),1.0);
    }


    &--transparent{
      background-color: transparent;
      color: rgba(var(--cl-c),1.0);
      border: 2px solid currentColor;
      max-width: 551px;

      svg{
        fill: currentColor;
      }

      &:hover{
        color: rgba(var(--bg-a),1.0);
        border-color: rgba(var(--bg-h),1.0);
        background-color: rgba(var(--bg-h),1.0);
      }
    }

    &--blue{
      padding: clamp(17px, 1.613vw, 20px) clamp(17px, 3.247vw, 25px);
      background-color: rgba(var(--bg-e),1.0);
      color: rgba(var(--cl-a),1.0);
      border: 2px solid currentColor;
      width: 100%;
      max-width: 480px;
      font-size: clamp(16px, 1.935vw, 24px);
      font-style: normal;
      font-weight: 600;
      line-height: 120.833%;


      svg{
        fill: currentColor;
      }

      &:hover{
        background-color: rgba(var(--bg-h),1.0);
      }
    }
  }